astroid==2.4.2
attrs==19.3.0
aws-cdk.assets==1.49.1
aws-cdk.aws-apigateway==1.49.1
aws-cdk.aws-certificatemanager==1.49.1
aws-cdk.aws-cloudwatch==1.49.1
aws-cdk.aws-ec2==1.49.1
aws-cdk.aws-elasticloadbalancingv2==1.49.1
aws-cdk.aws-events==1.49.1
aws-cdk.aws-iam==1.49.1
aws-cdk.aws-kms==1.49.1
aws-cdk.aws-lambda==1.49.1
aws-cdk.aws-logs==1.49.1
aws-cdk.aws-route53==1.49.1
aws-cdk.aws-s3==1.49.1
aws-cdk.aws-s3-assets==1.49.1
aws-cdk.aws-sqs==1.49.1
aws-cdk.aws-ssm==1.49.1
aws-cdk.cloud-assembly-schema==1.49.1
aws-cdk.core==1.49.1
aws-cdk.cx-api==1.49.1
aws-cdk.region-info==1.49.1
cattrs==1.0.0
colorama==0.4.3
constructs==3.0.4
isort==4.3.21
jsii==1.8.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
publication==0.0.3
pylint==2.5.3
python-dateutil==2.8.1
six==1.15.0
toml==0.10.1
typing-extensions==3.7.4.2
wrapt==1.12.1
-e .